*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilos del encabezado */
.head{
    text-align: center;
    background: #d1b361;
    margin-bottom: 30px;
    width: 100%;
}
#Logo{
    width: 10px;
    height: 10px;    
}
#Logo img{
    width: 90px;
    height: 90px;
}
#ContentTitulo #Titulo{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
#ContentBtn{
    width: 100px;
}
#ContentBtn #Regresar{
    vertical-align: middle;
    height: 30px;
    background: rgb(255, 255, 143);
    width: 90px;
    font-size: 15px;
    border-radius: .6em;
    border: none;
}
#Regresar a{
    color: black;
    text-decoration: none;
}
#Regresar:hover{
    opacity: 80%;
    cursor: pointer;
}
#Logotipo{
    margin-left: 75%;
    height: 350px;
    width: 350px;
}
/* Estilos del modal de confirmación */
#Modal{
    display: none;
}
#ModalBack{
    position: fixed;
    background: rgba(187, 187, 187, 0.603);
    width: 100%;
    height: 100%;
    z-index: 2;
}
#ModalContent{
    width: 400px;
    background: white;
    text-align: center;
    margin: 20%;
    margin-left: 33%;
    padding: 1em;
    border-radius: .3em;
    border: solid rgb(92, 92, 92);
}
#MessageCorrect{
    font-family: 'Capriola', sans-serif;
    font-size: 20px;
    padding: 0 .3em ;
    background: grey;
}
#Correct{
    color: green;
    font-size: 40px;
    margin: 10px;
}
#MessageModalBody{
    font-size: 16px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}
/* Estilos del cuerpo y de la tabla de contenido */
.HeadTable{
    background: #ffc086;
    padding: .2em;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    border-radius: .2em;
}
#ContBtnAdvance{
    width: 130px;
}
.ContentDato{
    font-size: 16px;
    overflow: auto;
    background: rgb(207, 207, 207);
    padding: .4em .3em;
    font-family: 'Work Sans', sans-serif;
    border-radius: .1em;
}
.BtnOption{
    background: #a5baff;
    padding: .3em;
    border: none;
    border-radius: .3em;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    transition: all .3s;
}
.BtnOption:hover{
    transition: all .3s;
    background: #89a5ff;
    cursor: pointer;
}
#BtnAvance{
    transition: all;
    background: rgb(123, 255, 123);
}
#BtnAvance:hover{
    transition: all .4s;
    background: rgb(123, 255, 123);
}
#ContentTable{
    background: rgb(124, 123, 76);
    /* background: linear-gradient(to left, rgb(172, 180, 99), rgb(177, 137, 91)); */
    padding: .4em;
    border-radius: 1.5em;
}
#ContentNoOrder{
    background: rgba(255, 218, 149, 0.253);
    padding: .7em;
    border-radius: 10px 10px;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 20px;
}

#UserList{
    margin: 10px 15%;
    font-size: 19px;
    border: solid rgb(104, 1, 1);
    padding: .2em;
    /* box-shadow: 1px 3px 30px rgb(131, 131, 131); */
    border-radius: .3em;
}
/* Estilos de los modales personalizados */
.custom-modal {
    font-size: 20px;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 20px;
}
.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.329);
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(233, 255, 193);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: 'Kanit', sans-serif;
}
.modal-title{
    font-size: 20px;
}
.modal-title-body{
    font-size: 17px;
}
.ModalHead {
    background: gray;
    padding: .4em;
    margin-bottom: 10px;
    border-radius: .3em;
}
#OptionAdvance{
    border: none;
    font-size: 14px;
}
#CloseModalDn{
    cursor: pointer;
}
#BtnReady{
    background: #56d474;
    transition: all .3s;
    margin-top: 10px;
}
#BtnReady:hover{
    background: #93d3a2;
    cursor: pointer;
    transition: all.3s;
}
#BtnClose{
    background: rgb(252, 139, 139);
}
#BtnClose:hover{
    background: rgb(255, 178, 178);
    cursor: pointer;
}
.BtnFromModal{
    padding: 8px 15px; 
    border-radius: .4em;
    border:none;
}
#ContBtnAbono{
    height: 50px;
}
#ContBtnAdvance{
    height: 50px;
}
/* Estilos para el modal de abono */
.ModalAbn {
    width: 400px;
    padding: 2px;
    background: linear-gradient(to bottom, rgb(145, 172, 212), rgb(214, 214, 214), rgb(176, 204, 228));
    border: 2px solid navajowhite;
    border-radius: 5px;
    margin: 15% auto;
    position: fixed;
    text-align: center;
}
.ModalAbn::backdrop{
    background: rgba(134, 134, 134, 0.445);
}

/* Estilos para el botón de cerrar */
.CloseModalAbn {
    cursor: pointer;
    color: #555;
    font-size: 30px;
    position: absolute;
    top: 0px;
    right: 10px;
    background: #c0c0c0;
    border-radius: .9em;
    
}
#TitleModalAbn{
    font-size: 21px;
    font-family: 'Kanit', sans-serif;
    margin: 10px 0;
}
.DataRequire{
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    font-style: oblique;
    font-weight: 100;
}
#Abono{
    width: 100px;
    margin-bottom: 10px;
    background: #dde5ff;
    padding: 0em.1em;
}
#Abono:focus{
    outline: none;
}
#BtnAbonar{
    background: #fdff79;
    margin: 10px;
    transition: all .4s;
}
#BtnAbonar:hover{
    background: #fbff2b;
    transition: all .4s;
}

@media only screen and (max-width: 1080px){
    .head{
        padding: .2em;
    }
    #Logo{
        width: 10px;
        height: 10px;    
    }
    #Logo img{
        width: 50px;
        height: 50px;
    }
    #ContentTitulo #Titulo{
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
    }
    #ContBtnAbono{
        height: 100px;
    }
    #ContentBtn{
        width: 10px;
    }
    #ContentBtn #Regresar{
        vertical-align: middle;
        height: 25px;
        background: rgb(255, 255, 143);
        width: 70px;
        font-size: 12px;
        border-radius: .6em;
        border: none;
    }
    #ContBtnAdvance{
        height: auto;
        vertical-align: middle;
    }
    #ContBtnAdvance #BtnAvance{
        padding: 4px 4px;
        margin: 20px 12px;
        font-size: 14px;
    }
    .HeadTable{
        background: #ffc086;
        padding: .2em;
        font-size: 15px;
        font-family: 'Raleway', sans-serif;
        border-radius: .2em;
    }
    .ContentDato{
        background: rgb(207, 207, 207);
        padding:.3em;
        font-family: 'Work Sans', sans-serif;
        border-radius: .1em;
        font-size: 14px;
    overflow: auto;
    }
    #BtnDetalles{
        background: #a5baff;
        padding: .3em;
        border: none;
        border-radius: .3em;
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        transition: all .3s;
    }
    #BtnDetalles:hover{
        transition: all .3s;
        background: #89a5ff;
        cursor: pointer;
        font-weight: 700;
    }
    #ContentTable{
        background: rgb(124, 123, 76);
        padding: .1em;
        border-radius: 1.5em;
        overflow: auto;
    }
    #UserList{
        margin: 10px 0;
        font-size: 11px;
        border: solid rgb(104, 1, 1);
        padding: .2em;
        box-shadow: 1px 3px 30px rgb(151, 151, 151);
        border-radius: .3em;
    }
    .Dato{
        background: rgb(162, 124, 199);
        padding: .5em;    
    }
    .BtnEdit{
        background: rgb(255, 198, 198);
        padding: 0 .3em;
    }
    .custom-modal {
        font-size: 15px;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .InputForm{
        background: rgb(253, 253, 253);
        font-size: 13px;
        border-radius: .4em;
        border: none;
        padding: .2em;
    }
    .InputForm:focus{
        outline: none;
    }
    .modal-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgb(233, 255, 193);
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        font-family: 'Kanit', sans-serif;
        width: 80%;
    }
    
    .ModalHead {
        background: gray;
        padding: .4em;
        margin-bottom: 10px;
        border-radius: .3em;
    }
    #CloseModalDn{
        cursor: pointer;
    }
    #BtnReady{
        font-size: 13px;
        background: #56d474;
        transition: all .3s;
        margin-top: 10px;
    }
    #BtnReady:hover{
        background: #93d3a2;
        cursor: pointer;
        transition: all.3s;
    }
    #BtnClose{
        font-size: 13px;
        background: rgb(252, 139, 139);
    }
    #BtnClose:hover{
        background: rgb(255, 178, 178);
        cursor: pointer;
    }
    #DeleteProd{
        font-size: 13px;
        margin-top: 10px;
        background: #ffc086;
    }
    #DeleteProd:hover{
        cursor: pointer;
        background: #ffcc9c;
    }
    .BtnFromModal{
        padding: 8px 15px; 
        border-radius: .4em;
        border:none;
    }
    .modal-title{
        font-size: 14px;
    }
    .modal-footer {
        text-align: right;
    }
    #Modal{
        display: none;
    }
    #ModalBack{
        position: fixed;
        background: rgba(187, 187, 187, 0.603);
        width: 100%;
        height: 100%;
        z-index: 2;
    }
    #ModalContent{
        width: 200px;
        background: white;
        text-align: center;
        margin: 40% auto;
        padding: 1em;
        border-radius: .3em;
        border: solid rgb(92, 92, 92);
    }
    #MessageCorrect{
        font-family: 'Capriola', sans-serif;
        font-size: 20px;
        padding: 0 .3em ;
        background: grey;
    }
    #Correct{
        color: green;
        font-size: 40px;
        margin: 10px;
    }
    #MessageModalBody{
        font-size: 16px;
        font-weight: 800;
        font-family: 'Open Sans', sans-serif;
    }
}

