/*Estilos del encabezado*/
#Head{
    width: 100%;
}
.head{
    text-align: center;
    background: #f1e5da;
}
#Logo{
    width: 10px;
    height: 10px;    
}
#Logo img{
    width: 90px;
    height: 90px;
}
#ContentTitulo #Titulo{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
#ContentBtn{
    width: 100px;
}
#ContentBtn #Regresar{
    vertical-align: middle;
    height: 30px;
    background: rgb(255, 255, 143);
    width: 90px;
    font-size: 15px;
    border-radius: .6em;
    border: none;
}
#Regresar a{
    color: black;
    text-decoration: none;
}
#Regresar:hover{
    opacity: 80%;
    cursor: pointer;
}
#Logotipo{
    margin-left: 75%;
    height: 350px;
    width: 350px;
}
/*Inicio de los estilos del cuerpo principal*/
#ContentPrimary{
    background: linear-gradient(to bottom, #e9df5aad, #fff7c8);
    height: 120%;
    margin: 20px 30px;
    padding: .4em;
    text-align: center;
}
#ContentTitle{
    margin: 10px;
}
#TittleBody{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 23px;
    border-top: solid rgb(110, 110, 255);
    border-radius: .2em;
    border-right: solid rgb(110, 110, 255);
    padding: .2em;
    font-weight: 700;
}
#ContentForm{
    background: rgba(135, 180, 129, 0.801);
    text-align: start;
    margin: 0 30px;
    border-radius: .9em;
    padding: 2em;
}
#Form{
    margin-left: 20px;
    padding: .9em;
}
#NameProd{
    width: 250px;
}
input{
    font-size: 14px;
    border-radius: .4em;
    border: none;
    padding: .3em;
}
input:focus{
    outline: none;
}
.BreakRow{
    margin-bottom: 30px;
    font-family: 'Capriola', sans-serif;
}
.TitleReq{
    font-size: 25px;
    font-family: 'Afacad', sans-serif;
}
#ContentBtnForm{
    width: 45%;
}
#BtnA{
    background: rgb(181, 218, 126);
    margin-right: 30px;
    transition: all .3s;
}
#BtnA i{
    color: green;
    font-size: 20px;
}
#BtnA:hover{
    background: rgb(155, 211, 71);
    margin-right: 30px;
    transition: all .3s;
    cursor: pointer;
}
#BtnB{
    background: rgb(180, 180, 180);
    transition: all .3s;
}
#BtnB:hover{
    background: rgb(223, 222, 222);
    cursor: pointer;
    transition: all .3s;
}
.BtnForm{
    width: 3cm;
    padding: .2em;
    color: black;
    border: none;
    border-radius: .4em;
    font-size: 17px;
}
#Modal{
    display: none;
}
#ModalBack{
    position: fixed;
    background: rgba(187, 187, 187, 0.603);
    width: 100%;
    height: 100%;
}
#ModalContent{
    width: 400px;
    background: white;
    text-align: center;
    margin: 20%;
    margin-left: 33%;
    padding: 1em;
    border-radius: .3em;
    border: solid rgb(92, 92, 92);
}
#MessageCorrect{
    font-family: 'Capriola', sans-serif;
    font-size: 20px;
    padding: 0 .3em ;
    background: grey;
}
#Correct{
    color: green;
    font-size: 40px;
    margin: 10px;
}
#MessageModalBody{
    font-size: 16px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}