/*
*{
  font-family: Arial, Helvetica, sans-serif; /* Familia de fuentes predeterminada */
  /*background-color: #f0f0f0; /* Color de fondo */ 
  /*color: #333; /* Color de texto */
  /*margin: 0; /* Elimina márgenes predeterminados del cuerpo */
  /*padding: 0; /* Elimina relleno predeterminado del cuerpo */
  /*line-height: 1.6; /* Espaciado entre líneas del texto */
/*}*/ 
.Content{
    background: #f1dada;
    margin-left: 30px;
    font-size: 1.9em;
}
.Content_Right{
    font-family: 'Josefin Sans', sans-serif;
    margin-top:20px ;
    text-align: end;
    font-size: 20px;
}
.Content_Right a{
    /* background: red; */
    transition: all .1s;
    padding: .9em;
}
.Content_Right a:hover{
    transition: all .1s;
    opacity: 80%;
    background: rgba(153, 153, 153, 0.308);
    border-radius: 30%;
    font-size: 22px;
}
#Fb{
    /* color: red;  */
    margin-right: 50px;
}
#Wpp{
    color: rgb(25, 110, 25); 
    margin-right: 50px;
}
a#Correo{
    color: black;
    text-decoration: none;
    margin-right: 50px;
}
a#Correo:hover{
    text-decoration:underline; /*Agrega una liena cuando se pasa con el cursor*/
    text-decoration-thickness: 1px; /*Ajusta el ancho de la línea*/
    text-underline-offset: 4px; /*Ajusta el interlineado de la linea que se marca*/
    text-decoration-skip-ink: skip-spaces;
    transition-duration:100s ;
}
a#Num{
    color: black;
    text-decoration: none;
    margin-right: 50px;
}
a#Num:hover{
    text-decoration:underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    text-decoration-skip-ink: skip-spaces;
    transition-duration:100s ;
}
#ContentBarraH{
    width: 100%;
}
 #BarraH i{
    text-align: start;
    font-size: 16px;
    margin-right: 9px;
}
#BarraH{
    vertical-align: middle;
    text-align: center;
    background: hsla(46, 43%, 50%, 0.24);
    padding: .3em; 
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
}
#Titulo{
    font-size: 30px; 
    /* padding: 19em;  */
}
/*section#Iconos{
    text-align: start; 
    vertical-align:middle;
}*/

img#Logotipo{
    margin-left: 75%;
    height: 350px;
    width: 350px;
}
h2{
    width: 90%;
    font-family:'Kanit', sans-serif;
    color: rgb(158, 123, 26);
    border-top: 12px solid rgb(221, 171, 77);
    border-left: 12px solid rgb(221, 171, 77);
    border-top-right-radius: 10px;
    border-top-left-radius:10px;
    border-right: 100px;
    padding: .6em;
    margin-bottom: 80px;
    border-bottom-width: 0px solid black;
    border-bottom-left-radius:10px;
}
#Sesiones{
    text-align:start;
    font-size:20px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 10px;
}
#Btn_Sesión{
    font-size:16px;
    color:  #cd6155;
    padding: .5em;
    border-radius: .4em;
    border: none;
}
#Btn_Sesión i{
    padding: 0.3em;
}
#Btn_Sesión a{
    text-decoration:none;
    color: grey;
}
#Btn_Sesión:hover{
    opacity: 80%;
    cursor: pointer;
}

.Usuario{
    font-family: 'Raleway', sans-serif;
    margin-top: 10px;
    margin-bottom: 70px;
    text-align: start;
}
input#Usuario{
    padding-top: 6px; 
    box-sizing: 100px; 
    font-size: 20px; 
    font-family: 'Crimson Text', serif; 
    margin-left: 20px; 
    background: rgba(228, 226, 149, 0.87); 
    border: none; 
    height: 30px; 
    width: 400px;
}
.Contraseña{
    font-family: 'Raleway', sans-serif;
    margin-bottom: 70px;
    margin-top: 10px;
    text-align: start;
}
input#Contraseña{
    padding-top: 6px; 
    box-sizing: 100px; 
    font-size: 20px; 
    font-family: 'Crimson Text', serif; 
    margin-left: 20px; 
    background: rgba(228, 226, 149, 0.87); 
    border: none; 
    height: 30px; 
    width: 400px;
}
section.Botón{
    text-decoration: none;
    text-align: start;
    margin-left: 10px;
    /* background: red; */
    display: flex;
    flex-direction: row;
}
button#Btn_Ingresar{
    vertical-align: middle;
    color: black;
    font-size: 20px;
    text-decoration: none;
    height: 27px;
    width: 130px;
    border: none;
    border-radius: .7em;
    margin-bottom: 109px;
    text-align: start;
}
button#Btn_Ingresar:hover{
    opacity: 70%;
    cursor: pointer;
}
button#Btn_Registrarse{
    margin-left: 100px;
    vertical-align: middle;
    color: black;
    font-size: 18px;
    text-decoration: none;
    height: 30px;
    width: 150px;
    border: none;
    border-radius: .7em;
    margin-bottom: 109px;
    text-align: start;  
}
#Btn_Registrarse i{
    vertical-align: middle;
    margin-right: 10px;
    padding-left: 10px;
    padding-bottom: 2px;
}
button#Btn_Registrarse:hover{
    opacity: 70%;
    cursor: pointer;
}
#BtnR{
    /* margin-top:10px; */
    margin-left:100px;
    vertical-align: top;
    color: black;
    font-size: 20px;
    text-decoration: none;
    height: 30px;
    width: 140px;
    border: none;
    border-radius: .7em;
    margin-bottom: 10px;
    text-align: center; 
    flex-direction: column;
    padding:.2em;
}
#BtnR:hover{
    opacity: 70%;
    cursor: pointer;
}
#BtnR i{
    vertical-align: top;
}
#BtnR a{
    text-decoration:none;
    color:black;
}
.Forgot a{
    font-size: 20px;
}
img#Logotipo{
    margin-bottom: 70px;
}
.footer{
    font-size: .7em;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #5c9099;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23205faa' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    text-align: end;
    font-size: 24px;
    padding: .2em .9em .1em .1em;
    padding-bottom: .1em;
    height: 60px;
    margin-top: 20px;
    width: 100%;
}
/*Diseño de la página "Vista de compras" (2da)*/
/*Diseño responsivo para un celular de 500px de ancho*/
@media only screen and (max-width: 1080px) {
    /* body{
        background: red;
    } */
    .Content{
        text-align: center;
        margin-left: 10px;
        font-size: 1em;
        margin-right: 0%;
        height: 100%;
    }

    #BarraH{ 
        font-size: 9px;
        width: 120%;
        height: 200px;
        background: #ecc2be;
        margin-bottom: 70px;
    }
    #ContentIcon{
        /* background: red; */
        vertical-align: middle;
        padding: 40px 0 0 0;
    }
    #ContentTitulo{
        vertical-align: top;
        text-align: start;
        padding: 40px 0 0 60px;
    }

    #ContentBarraH i{
        text-align: start;
        vertical-align: middle;
        padding: .4px;
        font-size: 30px;
    }
    #ContentBarraH{
        margin: 40px;
        margin: 40px 0px;
    }
    
   #Titulo{
        text-align: center;
        font-size: 40px;
        font-weight: 300;
    }
    #Sesiones{
        text-align:start;
        font-size:37px;
        font-family: 'Josefin Sans', sans-serif;
        margin-top: 10px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    #Btn_Sesión{
        font-size:35px;
        color:  #cd6155;
        padding: .2em;
        border-radius: .4em;
        border: none;
    }
    #Btn_Sesión i{
        padding: 0.3em;
    }
    #Btn_Sesión a{
        text-decoration:none;
        color: grey;
    }
    #Btn_Sesión:hover{
        opacity: 80%;
        cursor: pointer;
    }

    #BtnR:hover{
        opacity: 70%;
        cursor: pointer;
    }
    #BtnR i{
        vertical-align: middle;
        padding: .2em;
    }
    #BtnR a{
        vertical-align: middle;
        text-decoration:none;
        color:black;
    }
    .Content_Right a:hover{
        display: inline-block;
        margin-bottom: 10px;   
    }
    #Fb{
        /* color: red;  */
        margin-right: 100px;
    }
    #Wpp{
        /* color: red;  */
        margin-right: 300px;
    }
    #Num{
        /* color: rgb(255, 11, 11); */
        /* margin-top: 100px; */
        text-decoration: none;
        /* margin-right: 50px; */
    }
    .Content_Right #Correo{
        margin: 50px 0px;
        margin-right: 300px;
    }
    .Content_Right a{
        display: inline-block;
        margin-bottom: 10px;
    }
    .Content_Right{
        font-family: 'Josefin Sans', sans-serif;
        text-align: start;
        font-size: 45px; 
        margin-right: 10%;
        margin-top: 100px;
        width: 120%;
        
        /* font-weight: bold; */
    }
    .Usuario{
        margin-bottom: 120px;
        vertical-align: middle;
        font-size: 50px;
    }
    input#Usuario{
        padding-top: 6px; 
        box-sizing: 130px; 
        font-size: 45px; 
        font-family: 'Crimson Text', serif; 
        margin-left: 20px; 
        background: rgba(228, 226, 149, 0.87); 
        border: none; 
        height: 70px; 
        width: 340px;
    }
    .Contraseña{
        vertical-align: middle;
        font-size: 50px;
        margin-bottom: 110px;
        margin-top: 200px;
    }
    input#Contraseña{
        padding-top: 6px; 
        box-sizing: 130px; 
        font-size: 45px; 
        font-family: 'Crimson Text', serif; 
        margin-left: 20px; 
        /* background: rgb(255, 27, 27); */
        background: rgba(228, 226, 149, 0.87); 
        border: none; 
        height: 70px; 
        width: 340px;
    }
    .Botón{
        margin-top: 200px;
        text-decoration: none;
        text-align: top;
        margin-left: 5px;
        /* background: red; */
/* display: grid; */
    }
    #BtnR{
        font-size: 40px;
        width: 260px;
        height: 80px;
        /* margin-left: -2px; */
        vertical-align: top;
        color: black;
        /* font-size: 15px; */
        text-decoration: none;
        border: none;
        border-radius: .7em;
        margin-bottom: 10px;
        text-align: center; 
        flex-direction: column;
        padding:.2em;
    }
    button#Btn_Ingresar{
        vertical-align: middle;
        color: black;
        font-size: 40px;
        width: 260px;
        height: 80px; 
        text-decoration: none;
        border: none;
        border-radius: .7em;
        /* margin-bottom: -1px; */
        text-align: start;
        /* margin-top: -15px; */
    }
    button#Btn_Registrarse{
        vertical-align: super;
        color: black;
        font-size: 38px;
        width: 300px;
        height: 80px;
        text-decoration: none;
        border: none;
        border-radius: .7em;
        margin-bottom: 70px;
        /* margin-top: 10px; */
        text-align: start;
        margin-left: 60px;
    }
/* .Forgot a{
    font-size: 25px;
} */
    img#Logotipo{
        margin-left: -111%;
        height: 280px;
        width: 280px;
        margin-bottom: 100%;
        text-align: center;
    }
    .footer{
        margin-bottom: 0%;
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        background-color: #5c9099;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23205faa' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        text-align: start;
        font-size: 40px;
        padding: 1.3em;
        padding-bottom: .1em;
        height: 140px;
        margin-top: 410px;
        width: 120%;
    }
    h2{
        width: 95%;
        font-family:'Kanit', sans-serif;
        color: rgb(158, 123, 26);
        border-top: 20px solid rgb(221, 171, 77);
        border-left: 20px solid rgb(221, 171, 77);
        border-top-right-radius: 9px;
        border-top-left-radius:9px;
        border-right: 100px;
        padding: .4em;
        margin-top: 100px;
        margin-bottom: 220px;
        border-bottom-width: 0px solid black;
        border-bottom-left-radius:10px;
        font-size: 80px;
    }
}
